<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javaee.mapper.question.QuestionMapper">
    <resultMap id="admin" type="com.example.javaee.entity.question.Question">
        <id property="id" column="id"/>
        <result property="adminname" column="adminname"/>
        <result property="password" column="password"/>
        <result property="card" column="card"/>
    </resultMap>

</mapper>