<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javaee.mapper.user.UserMapper">
    <resultMap id="user" type="com.example.javaee.entity.user.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
    </resultMap>
    <!--<resultMap id="report" type="com.example.javaee.entity.report.Report">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="class_name" column="class_name"/>-->
        <!--<result property="teacher" column="teacher"/>-->
        <!--<result property="score" column="score"/>-->
        <!--<result property="join_time" column="join_time"/>-->
    <!--</resultMap>-->

    <select id="login" resultType="user">
        SELECT *
        FROM t_user
        WHERE email=#{user.email} and password=#{user.password}
    </select>

    <insert id="addUser">
        INSERT INTO t_user
        (username,email,password,sex,college,headUrl,path)
        VALUES (#{user.username},#{user.email},#{user.password},#{user.sex},#{user.college},#{user.headUrl},#{user.path})
    </insert>

    <select id="listUser" resultType="user">
        SELECT *
        FROM t_user
    </select>

    <update id="updateUser">
        UPDATE t_user
        SET email=#{user.email},username=#{user.username}
        WHERE id=#{user.id}
    </update>

    <update id="updatePassword">
        UPDATE t_user
        SET password=#{user.password}
        WHERE id=#{user.id}
    </update>

    <delete id="deleteUser">
        DELETE FROM t_user
        WHERE id=#{id}
    </delete>

    <update id="uploadHead">
        UPDATE t_user
        SET headUrl=#{headUrl},path=#{path}
        WHERE id=#{id}
    </update>

    <update id="updateStatus">
        UPDATE t_user
        SET status=#{status}
        WHERE id=#{id}
    </update>

    <select id="queryUser" resultType="user">
        SELECT *
        FROM t_user
        WHERE id=#{id}
    </select>

    <select id="query" resultType="user">
        SELECT *
        FROM t_user
        WHERE email=#{email}
    </select>

    <!--<select id="queryReport" resultType="report">-->
        <!--SELECT *-->
        <!--FROM t_report-->
        <!--WHERE stu_id=#{stu_id}-->
    <!--</select>-->

    <!--<insert id="addFeelBack">-->
        <!--INSERT INTO t_feelback-->
        <!--(stu_id,message,status)-->
        <!--VALUES (#{feelBack.stu_id},#{feelBack.message},#{feelBack.status})-->
    <!--</insert>-->
</mapper>