<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.javaee.mapper.answer.AnswerMapper">
    <select id="getPaperByClass" resultType="com.example.javaee.entity.paper.Paper">
        select *
        from t_paper
        where classno = #{classno}
    </select>

    <insert id="insertAnswer" >
        insert
        into t_answerbyuser(qid,sid,answer)
        values (#{qid},#{sid},#{answer})
    </insert>

    <select id="getUserAnswer" resultType="String">
        select answer
        from t_answerbyuser
        where sid = #{sid} and qid = #{qid}
    </select>

    <select id="getClassAnswer" resultType="com.example.javaee.entity.utilClass.UtilClass">
        select t_paperToQuestion.no,question,t_answerbyuser.answer,qscore,getscore,qtype
        from t_answerbyuser,t_paperToQuestion,t_question
        where pid = #{pid} and sid = #{sid} and t_paperToQuestion.qid = t_question.qid and
        t_answerbyuser.qid = t_paperToQuestion.qid
        order by t_paperToQuestion.no
    </select>
    
    <update id="correctByTeacher" >
        update  t_answerbyuser
        set getscore = #{getscore}
        where qid = #{qid} and sid = #{sid}
    </update>

</mapper>